::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #131323;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #333343;
}

body {
  margin: 0;
  font-family: "Hack";
  background-color: #232333;
  color: #eee;
}

header {
  display: flex;
  height: 30px;
  background-color: #313141;
  align-items: center;
}

header .nameTag {
  margin-right: auto;
}

header .settings, header .sound {
  margin-right: 10px;
  background-color: #212131;
  padding: 3px;
  border-radius: 5px;
}


.lobbyContainer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.lobbyContainer .playerList {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 100px 0 100px;
  grid-gap: 20px;
  padding: 10px;
  background-color: #313141;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 400px;
}

.lobbyContainer .playerList .player {
  display: flex;
  align-items: center;
}

.lobbyContainer .playerList .playerImage {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
  background-color: #212121;
}

.lobbyContainer .playerList .playerName {
  font-size: 20px;
}

.lobbyContainer .playerList .player {
  padding: 5px;
  position: relative;
}

/*.lobbyContainer .playerList .ready {*/
  /*[>background-color: #282838;<]*/
  /*background-color: #2b5a2b;*/
  /*border-radius: 5px 5px 5px 10px;*/
/*}*/

.lobbyContainer .playerList .ready::before {
  content: url("../images/ready2.svg");
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  filter: hue-rotate(120deg);
}

/*.lobbyContainer .playerList .ready .playerName {*/
  /*color: #5f5;*/
/*}*/

.readyButton {
  width: 200px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #484876;
  color: white;
  border: none;
  border-bottom: 5px solid #383866;
  transition: .1s;

  position: absolute;
  bottom: 50px;
  left: calc(50% - 100px);
  text-transform: uppercase;
}

.readyButton:hover, .readyButtonD:focus {
  filter: brightness(1.5);
  outline: none;
}

.readyButton:active { border-bottom-width: 0; }

.playerCounter {
  background-color: #313141;
  width: 30%;
  height: 50px;
  /*bottom: -100px;*/
  /*left: calc(50% - 25px);*/
  margin: 0 auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 30px 30px;
  font-size: 30px;
}

/*==================================================================================*/

.gameContainer {
  margin: 5px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 240px 5fr;
  grid-template-areas:
    "sdbar starp"
    "sdbar cards"
}

.sidebar {
  grid-area: sdbar;
  display: flex;
  flex-direction: column;
}

.sidebar .playerList {
  background-color: #313141;
  padding: 10px;
  border-radius: 5px;
}

.sidebar .player:not(:last-child) {
  padding-bottom: 7.5px;
  margin-bottom: 7.5px;
  border-bottom: 2px solid #2a2a3a;
}

.sidebar .player {
  display: flex;
  align-items: center;
}

.sidebar .playerStatus {
  font-size: 12px;
  color: #afa;
}

.sidebar .playerScore {
  margin-left: auto;
  background-color: #282838;
  padding: 8px;
  border-radius: 50px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.sidebar .playerImage {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 10px;
}

/*sidebar completed*/

.leader {
  position: relative;
  grid-area: starp;
  display: flex;
  align-items: center;
  /*border-bottom: 2px solid #414181;*/
  border-radius: 0 0 0 20px;
}

.leader .leaderWrap {
  display: flex;
  background-color: #414181;
  align-items: center;
  border-radius: 20px 20px 0 20px;
}

.leader .leaderImage {
  width: 30px;
  height: 30px;
  border-radius: 40px 0 0 40px;
  margin-right: 10px;
}

.leader .leaderName {
  margin-right: 10px;
}

.leader .playerScore {
  padding-right: 8px;
}

.leader .leaderGuess {
  /*width: 80%;*/
  /*border-bottom: 2px solid #313141;*/
  align-self: flex-end;
  padding-bottom: 2px;
}

.leader .leaderGuess.thinking {
  color: #afa;
}

.leader .spacer {
  margin-right: 2px;
  opacity: 0;
}

/*star player completed*/

.cardsContainer {
  grid-area: cards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardsContainer .card {
  margin: 10px;
  transition: .1s;
  width: 200px;
  /*width: 280px;*/
  /*height: 100%;*/
  border-radius: 10px;
}

.cardsContainer .card.preview img {
  width: inherit;
  border-radius: inherit;
}

.cardsContainer .card.preview:hover {
  transform: scale(1.2);
  z-index: 1;
}

.sideblock {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.sideblock div {
  width: 30px;
  height: 30px;
}

.sideblock .sound {
/*.settings {*/
  margin-right: 10px;
  margin-bottom: 10px;
}

.sideblock .sound {
  filter: invert(0.8);
}

.settingsWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000a0;
  display: flex; 
  align-items: center;

  display: none;
}

.floatSettings {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  background: #515161;


  text-align: center;
}

.leader .guessField {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #ddd;
  padding: 10px 2px 0 10px;
  outline: none;
}

.leader .guessField:active + hr, .leader .guessField:focus + hr {
  border-bottom-color: #6c6cd3;
}

.leader .leaderUnderline {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 6.01em);
  border: none;
  border-bottom: 2px solid #414181;
  border-radius: 0px;
  transition: .2s;
}

.card .choosen {
  box-shadow: 0 0 5px 2px #2196F3;
}

.leader .leaderControl {
  display: flex;
  width: 100%;
}

.leader .goButton {
  border: none;
  background: #414181;
  color: #eee;
  border-radius: 5px 5px 0 0;
}

button {
  outline: none;
}

.cardsContainer .card.magnify {
  transition: 0s;
}

/*.card.magnify::before {*/
  /*content: '';*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*background: black;*/
  /*opacity: .5;*/
/*}*/

/*.card.magnify .cardImage {*/
  /*position: absolute;*/
  /*height: 94vh;*/
  /*width: auto;*/
  /*top: 3vh;*/
  /*left: 20%;*/
  /*border-radius: 25px;*/
/*}*/

.card .wrap {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  transition: .2s;
}

.card.magnify .wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000aa;
  border-radius: 0;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.magnify .wrap img {
  height: 94vh;
  width: auto;
  border-radius: 2vh;
}

/*.card.preview .next,*/
/*.card.preview .prev {*/
  /*display: none;*/
/*}*/

/*.card.magnify .next,*/
/*.card.magnify .prev {*/
  /*display: block;*/
  /*position: absolute;*/
  /*width: 80px;*/
  /*height: 92.6%;*/
  /*top: 4%;*/
  /*background: black;*/
  /*opacity: 0;*/
  /*transition: .1s;*/
  /*text-align: center;*/
  /*line-height: 13;*/
  /*font-size: 50px;*/
/*}*/

/*.card.magnify .prev { left: 18%; }*/
/*.card.magnify .next { right: 18%; }*/

/*.card.magnify .next:hover,*/
/*.card.magnify .prev:hover { opacity: .5; }*/
